/**
 * @file
 * CSS Styling for app.
 */

body, button, caption, fieldset, input, legend, option, select, textarea, td, th {
    color: #222;
    background-color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

header.page-header {
    margin: 0 0 1em;
    padding: 0.2em 5px;
    border-bottom: 3px solid #ddd;
    background-color: #eee;
}

.site-name {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.6em;
}

.main-navigation a {
    display: inline-block;
    padding: 0 0.6em 0.1em;
    color: #000;
    background-color: #bbb;
}

div.content {
    padding: 0 5px 1em;
}

form {
    padding: 0 0 1.5em;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #ddd;
}

td {
    padding: 3px 6px;
}

/* Login form */

form.login label,
form.login input,
form.login button {
    display: block;
}

form.login label {
    font-weight: bold;
}

form.login input {
    margin-bottom: 1em;
}


/* Styling for status report */

.stale {
    color: #b40000;
}

.update-info > .server-name {
    display: inline-block;
    min-width: 16em;
    font-weight: bold;
}

.update-info > .server-name > a {
    color: inherit;
}

pre {
    margin: 0.33em 0;
    padding: 0.33em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #eee;
    font: 1em/1.5em Menlo, Consolas, "DejaVu Sans Mono", Monaco, "Bistream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 13px;
}

/* Simple page layout */

@media only screen and (min-width: 768px) {

    header.page-header {
        padding: 0.2em 1em;
    }

    div.content {
        padding: 0 1em 1em;
    }
}
