<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title }} | {{ site_name }}{% endblock %}</title>
    {% block stylesheets %}
      <link href="//fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
      <link href="{{ asset('css/normalize.css') }}" rel="stylesheet">
      <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}{% endblock %}
  </head>
  <body class="antialiased">
    <header class="page-header">
      {% block header %}
        <div class="site-name">{{ site_name }}</div>
        <nav class="main-navigation">
          <a class="nav-link" href="{{ path('frontpage') }}">Home</a>
          {% if is_granted('ROLE_USER') %}
            <a class="nav-link" href="{{ path('admin') }}">Admin</a>
            <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
          {% else %}
            <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
          {% endif %}
        </nav>
      {% endblock %}
    </header>
    <div class="content">
      <h1>{{ title }}</h1>
      {% block body %}
        {{ content }}
      {% endblock %}
    </div>
  </body>
</html>
